@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Goudy+Bookletter+1911&family=Ma+Shan+Zheng&family=Signika:wght@300;400;500;600;700&family=Pacifico&display=swap');
html {
  font-size: 16px;
}
:root {
  --background-color: #000;
}
body {
  background-color: var(--background-color);
  color: #fff;
  transition: 0.8s ease-out;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--background-color);
  z-index: 1;
}

.hdi {
  color: turquoise;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 2rem;
}
#l-ring {
  color: palegoldenrod !important;
}
.hdi b {
  font-size: 2rem;
  color: lightsteelblue;
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 800;
  font-style: normal;
}
.light .hdi {
  color: darkolivegreen
}
.light .hdi b {
  color: maroon
}
.menu li a.act, .lgScrMenu li a.act {
  font-weight: 800;
  color: darkkhaki;
  text-decoration-color: underline
}
.light .menu li a.act, .light .lgScrMenu li a.act{
  color: maroon
}

/* FOR LARGE AND MEDIUM SCREENS */
/* FOR LARGE AND MEDIUM SCREENS */
.lgScrMunuCont {
  border: 1px solid darkolivegreen;
  height: 45px;
  background: rgba(55, 222, 212, 0.02);
}
.light .lgScrMunuCont {
  border: 1px solid darkolivegreen;
  background: rgba(55, 222, 212, 0.025);
}

.lgScrMenu {
  display: flex;
  flex-wrap: nowrap;
  white-space: normal;
  margin-top: 1.1%;
}
.lgScrMenu li a {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 4%
}
.light .lgScrMenu li a  {
  color: black
}

.learnM {
  border-radius: 50px;
  background: rgba(127,225,0,0.2);
  border: 1.5px solid darkgreen;
  font-size: 1.1rem;
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 800;
  font-style: normal;
}
.learnM:hover {
  background: rgba(127,225,0,0.3);
  transition: transform 1s ease-out;
  transform: scale(1.03);
  }
.learnM:active {
  border-radius: 50px;
  transition: transform 0.01s ease;
  transform: scale(0.97)
  }
.light .learnM {
  border-radius: 50px;
  background: rgba(208, 240, 192, 0.5);
  border: 1.2px solid darkgreen;
  color: #000
}
.light .learnM:hover {
  background: rgba(0,225,0,0.3);
  transition: 1s ease-out;
  }



span.mNIc {
  font-size: 2.4rem;
  color: palegoldenrod;
  font-weight: 800
}
#menuIc:hover {
  transition: transform 0.5s ease;
  transform: rotate(180deg)
}
#menuIci:hover {
  transition: transform 0.5s ease;
  transform: rotate(-180deg)
}

/* FOR SMALL SCREENS
/*FOR SMALL SCREENS */
.Hmenu {
  width: 100vw;
  height: 200px;
  background: rgba(55, 222, 212, 0.2);
  animation: frmTop 0.3s ease;
  transform-origin: top;
  display: none;
  position: relative;
  transition: 2s ease-out
}
.show-menu {
  display: block
}
.menuAc {
  animation: frmTop 0.3s ease;
  transform-origin: top
}
@keyframes frmTop {
  from { transform: scaleY(0)}
  to { transform: scaleY(50vh)}
}
.menuDisAc {
  animation: frmBtm 0.3s ease;
  transform-origin: bottom
}
@keyframes frmBtm {
  from { transform: scaleY(50vh)}
  to { transform: scaleY(0)}
}

/* Create a fade effect */
.Hmenu::before,
.Hmenu::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures no interaction issues */
}

/* Fade at the beginning */
.Hmenu::before {
    left: 0;
    background: linear-gradient(to left, rgba(55, 222, 212, 0.2) 0%, transparent 40%);
}
.light .Hmenu::before {
  background: linear-gradient(to top, white 0%, transparent 50%);
}

/* Fade at the end */
.Hmenu::after {
    right: 0;
    background: linear-gradient(to right, rgba(55, 222, 212, 0.2) 0%, transparent 40%);
}
.light .Hmenu::after {
  background: linear-gradient(to left, white 0%, transparent 50%);
}

.menu li {
  background: transparent;
  position: relative;
}
.menu li:hover {
  border: darkolivegreen 1.5px solid;
  background: transparent;
  transition: transform 1s ease;
  transform: scale(1.01);
  border-radius: 20px
}
.menu li:active {
  border: darkolivegreen 1.5px solid;
  background-color: rgba(127,225,0,0.4);
  transition: transform 1s ease;
  transform: scale(1.01);
  border-radius: 20px
}
.light .menu li:active {
   background-color: rgba(127,225,0,0.4);
}

.menu li a {
  color: white;
  font-size: 1.5rem;
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 600;
  font-style: normal;
}
.menu li span {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 1.4rem
}
main {
  margin-top: 15%
}




.Hmenu .fa, .lgScrMenu .fa {
  color: darkkhaki
}



/* MAIN */

#hmScrCont {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
}

.scroll-wrapper {
    display: flex;
    gap: 10px;
}

.scroll-img {
    height: 300px;  
    width: 350px;  
    object-fit: cover; 
    display: inline-block;
    border-radius: 10px;
}

.hds {
  font-size: 1.8rem;
  font-size: 3rem;
  margin-bottom: 20px;
  color: lightsteelblue;
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 800;
  font-style: normal;
}

#hmScrCont img {
  border-radius: 40px 40px 0px 40px
}

.animeImg {
  animation: fromLeft 1s ease
}

@keyframes fromLeft {
  from { transform: translateX(50px)}
  to { transform: translateX(0)}
}



/* SERVICES */
/* SERVICES */
.home-services {
    padding: 40px 20px;
}

.service-item {
  padding: 15px;
  background: rgba(100, 200, 0, 0.13);
  border-radius: 40px;
  margin-bottom: 30px;
}
.light .service-item {
  background: rgba(100, 200, 0, 0.2);
}

.service-img {
    width: 100%;
    height: auto;
    border-radius: 40px 6px 40px 6px; 
    margin-bottom: 10px;
}

.home-services h3 {
    font-size: 1.7rem;
    margin-bottom: 5px;
    font-family: "Fraunces", serif;
    font-weight: 600
}

.service-item p {
    color: lightgray;
    font-family: 'signika' , sans-serif;
    font-size: 1rem
}

/* ABOUT */
.abtCont {
  border-radius: 10px;
  position: relative;
  background: rgba(100, 200, 0, 0.1);
}
/* Create a fade effect */
.abtCont::before,
.abtCont::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures no interaction issues */
}

/* Fade at the beginning */
.abtCont::before {
    left: 0;
    background: linear-gradient(to top, black 0%, transparent 10%);
}
.light .abtCont::before {
  background: linear-gradient(to top, white 0%, transparent 10%);
}

/* Fade at the end */
.abtCont::after {
  right: 0;
  background: linear-gradient(to bottom, black 0%, transparent 10%);
}
.light .abtCont::after {
  background: linear-gradient(to bottom, white 0%, transparent 10%);
} 


.values-section {
  padding: 50px 20px;
  position: relative;
  background: rgba(100, 200, 0, 0.11);
}
.light .values-section {
  background: rgba(100, 200, 0, 0.2);
}

/* Create a fade effect */
.values-section::before,
.values-section::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures no interaction issues */
}

/* Fade at the beginning */
.values-section::before {
    left: 0;
    background: linear-gradient(to top, black 0%, transparent 8%);
}
.light .values-section::before {
  background: linear-gradient(to top, white 0%, transparent 8%);
}

/* Fade at the end */
.values-section::after {
    right: 0;
    background: linear-gradient(to bottom, black 0%, transparent 8%);
}
.light .values-section::after {
  background: linear-gradient(to bottom, white 0%, transparent 8%);
} 

.values-section h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: lightsteelblue;
}
.values-section .cell {
  padding: 20px;
  text-align: center;
  background-color: var(--background-color);
  margin-top: 30px;
  border-radius: 30px;
}
.light .values-section .cell {
  background-color: #fff;
}
.values-section .icon {
  font-size: 40px;
  color: cornflowerblue; /* Customize the color */
  margin-bottom: 10px;
}
.light .values-section .icon {
  color: maroon;
}
.values-section h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "Arapey", serif;
    font-weight: 800;
    color: tan;
}
.light .values-section h4 {
  color: brown
}

.values-section p {
    font-size: 1.03rem;
    color: azure;
    font-family: 'signika' , sans-serif;
    font-weight: 500;
}
.light .values-section p {
    color: #444;
}
.hIv {
  color: lightsteelblue;
  font-weight: 800;
  font-size: 2.8rem;
}
.lstImg img {
  border-radius: 15px 10px 0px 15px;
  object-fit: cover;
  height: 90%;
  width: 250px;
}


/* Gallery */
.spCont {
    height: 100vh
}
.date {
  position: absolute;
  top: 101px;
}

.top-btn {
  right: 5%;
  bottom: 0%;
  border-radius: 50px 50px 20px 20px;
  background: rgba(127,225,0,0.3);
  border: 1px solid darkgreen;
  padding: 5px;
  color: aliceblue;
  position: fixed;
}
.light .top-btn {
  color: maroon
}
.top-btn span {
  font-size: 2rem
}
.gaFilButs {
  white-space: nowrap; /* Prevents wrapping */
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 0px;
  background: rgba(127,225,0,0.1);
 /* border: 1px solid darkgreen;*/
  overflow-x: auto;
}
.galFil {
  margin-bottom: 0;
  height: 100%; /* Ensures buttons take full height */
  width: 100%; /* Ensures buttons fill their grid cell */
  background: transparent;
  font-family: "Fraunces", serif;
  font-weight: 500;
  font-style: normal; font-size: 1rem;
}
.galFil:active, .top-btn:active {
  color: olive;
  background-color: transparent;
}
.galFil:hover, .top-btn:hover {
  color: olivedrab;
  background-color: transparent;
}

.galFil.actShw {
  background-color: transparent;
  color: cyan;
  border-bottom: 2px solid cyan;
  font-weight: 800;
  font-size: 1.05rem
}

.gaScrCont {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.allCat {
  gap: 3%
}


.gaDraImgs {
  border-radius: 8px;
  }

.gaPortrait .cell{
  margin-top: 5%
}

.gaH {
  margin-top: 10%;
  font-size: 3rem;
  color: lightcyan;
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 800;
  font-style: normal;
}

.gaAcBut {
  margin-top: 10%;
}
.gaAcBut button {
  background-color: olivedrab;
  border-radius: 50px;
  font-weight: 800;
  font-size: 1rem;
  animation: bounce 1s ease-out alternate infinite;
  font-family: 'signika' , sans-serif;
}
@keyframes bounce {
  to {transform: scale(1.1)}
}
.gaAcBut button:hover {
  transition: transform 0.1s ease;
  transform: scale(1.1)
}
.gaAcBut button:active {
  transition: transform 0.1s ease;
  transform: scale(0.9)
}

.category-section img {
  height: 350px;
  width: 300px;
  object-fit: cover;
  display: inline-block;
  border-radius: 30px 0px 30px 30px;
}



/* FOOTER */

footer {
  box-shadow: 0px 0px 1px #fff;
  background: rgba(0, 45, 20, 0.5);
}

.contact-section a {
  color: olivedrab;
  font-weight: 500;
  font-size: 1.1rem;
}
.contactHead {
  margin-top: 15%;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.ftHeads {
  color: lightsteelblue;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}
.ftMsg {
  margin-left: 4%
}

#ftFb {
  color: darkkhaki;
  font-size: 2.4rem
}
#ftIg {
  color: darkkhaki;
  font-size: 2.4rem;
  margin-top: 1%
}
.light #ftFb {
  color: black
}
.light #ftIg {
  color: black
}
#ftWA {
  color: darkgreen;
  font-size: 2rem
}
#ftEm{
  color: brown;
  font-size: 2rem;
  margin-top: 1%
}

.fa-moon, .fa-sun {
  font-size: 1.7rem;
  color: darkkhaki
}
.thTxt {
  color: lightsteelblue; 
  font-weight: 700;
  font-size: 1.1rem
}
.lpa a:hover, footer a:hover {
  text-decoration: underline
}

p {
  font-family: 'signika' , sans-serif;
}

.exLnk a {
  font-size: 1rem;
  font-weight: 300;
  color: lightsteelblue
}